<nav class="bg-blue-400 text-white py-4">
  <div class="container w-2/3 mx-auto">
    <a href="/" class="font-mono text-lg hover:underline mr-3">Home</a>
    <a href="/ask" class="font-mono text-lg hover:underline mr-3">Ask</a>
  </div>
</nav>

