<%- include('./../partials/head'); %>
<body class="w-screen bg-indigo-50">
  <%- include('./../partials/navbar'); %>

  <div class="container bg-white w-2/3 mx-auto mt-5 shadow-md">
    <div class="block border-2 border-gray-300 rounded px-8 py-4">

      <div>
        <h3 class="text-2xl my-2">Realizar pergunta</h3>
        <hr>
      </div>

      <div>
        <form class="block my-5" method="POST">
          <label class="block mb-2">Título</label>
          <input type="text" name="title" id="" placeholder="Titulo"
            class="block w-full border-2 border-gray-200 rounded py-1 px-2"
          >
          <label class="block mt-4 mb-2">Conteúdo</label>
          <textarea placeholder="Faça sua pergunta..."
            class="block w-full border-2 border-gray-200 rounded">
          </textarea>
          <button class="block bg-blue-400 text-white px-7 py-2 rounded-md mt-4 hover:bg-blue-600">
            Perguntar
          </button>
        </form>
      </div>
    </div>
  </div>
</body>
<%- include('./../partials/closehtml'); %>

